@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

html {
  scroll-behavior: smooth;
}

.hero {
  background-color: #3273dc; /* Bleu Bulma ;) */
  color: white;
}
.project-image {
  border-radius: 8px;
  overflow: hidden;
}
.button.is-primary {
  background-color: #3273dc;
  border-color: #3273dc;
}
.button.is-primary:hover {
  background-color: #275aa8;
  border-color: #275aa8;
}
.clickable {
  cursor: pointer;
}
.modal-content {
  max-height: 80vh;
  width: 60%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%; /* Largeur adaptée aux téléphones */
    max-height: 90%; /* Hauteur adaptée */
  }
}

/*#modal-image {
    width: auto;
    height: auto;
    object-fit: contain;
}*/

#modal-description p {
  text-indent: 30px;
  margin-bottom: 1em;
}

#modal-description ul,
#modal-description ol {
  margin-left: 30px;
  margin-bottom: 1em;
}

#modal-description li {
  margin-bottom: 0.5em;
}

#modal-description h2,
#modal-description h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0, 0);
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
  background-color: #3273dc;
  /*border-radius: 10px;*/
  border: 3px solid hsl(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #275aa8;
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-track-horizontal {
  background-color: hsl(0, 0, 0);
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #3273dc;
  /*border-radius: 10px;*/
}

body {
  overflow-x: hidden;
}

/* Thème sombre spécifique à la page d'apprentissage */
.apprentissage-mode {
  background-color: #1e1e1e;
  color: #eaeaea;
}

.apprentissage-mode .box {
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.apprentissage-mode .project-links a {
  color: #66ccff;
}

.apprentissage-mode a.button.is-link {
  background-color: #3273dc;
  color: white;
}

.apprentissage-mode p,
.apprentissage-mode ul,
.apprentissage-mode li {
  line-height: 1.8;
}
.apprentissage-mode ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
.apprentissage-mode li {
  margin-bottom: 0.8rem;
}
.competence-label {
  font-weight: bold;
}
.competence-detail {
  padding-left: 1.5rem;
}
.project-links a.button {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
